@font-face {
    font-family: miama;
    src: url(/fonts/miama.regular.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

h1{
    font-family: miama;
    font-weight: 500;
    font-style: italic;
}

h2{
    font-family: Inter;
    font-weight: 500;
}